<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AK || Developer</title>
    <link rel="stylesheet" href="./assests/css/style.css">
    <link rel="stylesheet" href="./assests/css/responsive.css">
    <link rel="shortcut icon" href="./assests/images/Aklogo.jpg" type="image/x-icon">
</head>

<body>

    <section id="Introid" class="intro">
        <h1>I'M <span id="my-intro1" class="my-intro"></span></h1>
        <h1>I'M <span id="my-intro2" class="my-intro"></span></h1>
        <h1>I'M <span id="my-intro3" class="my-intro"></span></h1>
        <h1>I'M <span id="my-intro4" class="my-intro"></span></h1>
        <h1>I'M <span id="my-intro5" class="my-intro"></span></h1>
        <video autoplay loop muted>
            <source src="./assests/video/redmatrix.mp4" type="video.mp4">
        </video>
    </section>
    <!-- Main Section Start here   -->
    <section class="main-section">
        <!-- Division 1st Start here -->
        <div id="div1" class="div">
            <div class="sub-div">
                <div class="logo-sub-div1">
                    <a class="logo" href="index.php"><img src="./assests/images/Aklogo.jpg" alt="" srcset=""></a>
                    <p>Ashwani<span class="color-red">Kumar</span></p>
                </div>
                <div class="logo-sub-div1 font-size">
                    <p> <a href="http://"> Resume  </a> </p>
                    <p> <a href="http://"> Whatsapp  </a> </p>
                    <p> <a href="http://"> Instagram  </a> </p>
                    <p> <a href="http://"> Youtube  </a> </p>
                </div>
            </div>
        </div>

        <!-- Section for home -->
        <section id="content1" class="content">
            <h2 id="intro-content1" class="intro-content"> Everything </h2>
            <h2 id="intro-content2" class="intro-content"> you can imagine </h2>
            <h2 id="intro-content3" class="intro-content"> is real</h2>
        </section>
        <!-- Section for About me -->
        <section id="content2" class="content">
            <h2 class="color-black heading">About Me</h2>
            <p class="contentp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, omnis.</p>
            <p class="contentp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, omnis.</p>
            <p class="contentp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, omnis.</p>
            <p class="contentbp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, omnis.</p>
            <p class="contentp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, omnis.</p>
            <p class="contentp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, omnis.</p>
        </section>
        <!-- Section for Services -->
        <section id="content3" class="content">
            <h2 class="color-black heading services">Services</h2>
            <section class="subcontent3">
                <div class="divcontent3">
                    <p class="service1">Web Development</p>
                    <p class="service1">Web Designing</p>
                    <p class="service1">Wordpress Development</p>
                    <p class="service1">Web Designing</p>
                </div>
                <div class="divcontent3">
                    <p class="service1">Web Development</p>
                    <p class="service1">Web Designing</p>
                    <p class="service1">Wordpress Development</p>
                    <p class="service1">Web Designing</p>
                </div>
            </section>


        </section>
        <!-- Section for portfolio -->
        <section id="content4" class="content">
            <h2 class="color-black heading services">portfolio</h2>
            <section class="subcontent4">
                <div class="divcontent4">
                    <div id="card1" class="card">
                        <h2><a href="http://ekwikdigital.com" target="_blank">Ekwik Digital</a></h2>
                    </div>
                    <div id="card2" class="card">
                        <h2><a href="http://ekwikdigital.com" target="_blank">Ekwik Digital</a></h2>
                    </div>
                    <div id="card3" class="card">
                        <h2><a href="http://ekwikdigital.com" target="_blank">Ekwik Digital</a></h2>
                    </div>
                </div>
                <div class="margin-top divcontent4">
                    <div id="card4" class="card">
                        <h2><a href="http://ekwikdigital.com" target="_blank">Ekwik Digital</a></h2>
                    </div>
                    <div id="card5" class="card">
                        <h2><a href="http://ekwikdigital.com" target="_blank">Ekwik Digital</a></h2>
                    </div>
                    <div id="card6" class="card">
                        <h2><a href="http://ekwikdigital.com" target="_blank">Ekwik Digital</a></h2>
                    </div>
                </div>
            </section>

        </section>
        <!-- Section for contact -->
        <section id="content5" class="content">
            <h2 class="color-black heading services">Contact Me</h2>
            <section class="subcontent5">
                <div class="divcontent5">
                    <p class="contact1">Web Development</p>
                    <p class="contact1">Web Designing</p>
                    <p class="contact1">Wordpress Development</p>
                    <p class="contact1">Web Designing</p>
                </div>
                <div class="divcontent5">
                    <p class="contact1">Web Development</p>
                    <p class="contact1">Web Designing</p>
                    <p class="contact1">Wordpress Development</p>
                    <p class="contact1">Web Designing</p>
                </div>
            </section>

        </section>


















        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            // var typed = new Typed("#intro-content", {
            //     strings: ["Hello User", "I'M Ashwani kumar", "A Creative UI Designer", "Web Developer", "Scroll up to Explore"],
            //     typeSpeed: 100,
            //     backSpeed: 10,
            //     loop: false
            // });
            var typed = new Typed("#my-intro1", {
                strings: ["Web Developer", "UI Designer", "Ashwani Kumar"],
                typeSpeed: 50,
                backSpeed: 50,
                loop: false
            });
            var typed = new Typed("#my-intro2", {
                strings: ["Web Developer", "UI Designer", "Ashwani Kumar"],
                typeSpeed: 50,
                backSpeed: 50,
                loop: false
            });
            var typed = new Typed("#my-intro3", {
                strings: ["Web Developer", "UI Designer", "Ashwani Kumar"],
                typeSpeed: 50,
                backSpeed: 50,
                loop: false
            });
            var typed = new Typed("#my-intro4", {
                strings: ["Web Developer", "UI Designer", "Ashwani Kumar"],
                typeSpeed: 50,
                backSpeed: 50,
                loop: false
            });
            var typed = new Typed("#my-intro5", {
                strings: ["Web Developer", "UI Designer", "Ashwani Kumar"],
                typeSpeed: 50,
                backSpeed: 50,
                loop: false
            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="./assests/js/main.js"></script>
</body>

</html>